html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.element-loading {
  display: flex;
  padding-top: 25vh;
  justify-content: center;
}

.generic-list {
  padding: 10px;
  width: 75vw;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hoverable:hover {
  cursor: pointer;
}

.default-container {
  border: solid;
  border-width: 5px;
  border-radius: 10px;
  width: 75vw;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 10px;
}

#main {
  padding-top: 12.5vh;
}
